.mainContainer {
  animation: example 10s ease-in-out infinite;
}

@keyframes example {
  0% {
    background-color: #0a0227;
  }
  50% {
      background-color: rgb(24 24 24);
    }
    100% {
      background-color: #0a0227;
  }
}

.techStack {
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
