.mainContainer {
  animation: bgAnimate 10s ease-in-out infinite;
}

@keyframes bgAnimate {
  0% {
    background-color: #0a0227;
  }
  50% {
      background-color: rgb(24 24 24);
    }
    100% {
      background-color: #0a0227;
  }
}

.techStack {
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#skills {
  position: relative;
  overflow: hidden;
}
.skillItems {
  position: absolute;
  bottom: 15px;
}

.animate {
  animation: move linear 25s infinite;
}


@keyframes move {
  0% {
    /* 62rem is total width of the tiles */
    /* one tile is 9rem and gap is 1.5rem */
    right: -62rem;
  }
  100% {
    right: 100%;
  }
}